.container {
  border: 2px solid black;
  width: 300px;
  height: 200px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
